@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,600i');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}
a:focus, a:visited {
	outline: none;
}
/*.App {
  text-align: center;
}*/

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

[class^="outer-container"] {
  text-align: center;
}

.outer_container__header {
	display: flex;
	justify-content: center;
	/*flex-wrap: wrap;*/
	flex-direction: column;
	align-items: center;
  background-color: #245998;
	background-image: url(./images/hero.jpg);
	background-position: bottom center;
	background-size: cover;
  color: #ffffff;
  font-size: 2.5rem;
	text-align: center;
}



.header_logo {
	margin-top: 1em;
	width: 250px;
	height: auto;
}
.header_title {
	width: 100%;
  text-align: center;
  margin: 0;
  padding: 2em 0 1em 0;
  font-weight: 500;
  letter-spacing: 2px;
	font-size: 3rem;
}

.container {
  max-width: 40rem;
  margin: auto;
  padding: 3em 1em 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post {
	width: 100%;
  margin: 1em;
  min-width: 15rem;
  border: 1px solid #e4e4e4;
  overflow: hidden;
  border-radius: 3px;
}

.post_title {
  margin-top: 0;
  font-size: 1.5em;
  text-align: left;
  line-height: 1.3;
  color: #333333;
	transition: all .3s ease-outl
}
.post_title:hover { color: #245998; }

.post_link {
	text-decoration: none;
	color: inherit;
}

.post_image {
  width: 100%;
  height: auto;
	transition: opacity .3s ease-out;
}
.post_image:hover {
	opacity: .9;
}

.post_details {
  padding: 1em;
  text-align: left;
}

.comments_header {
  margin: 1em 0;
	color: #245998;
	cursor: pointer;
}

.comment_list {
  margin-top: 2em;
}

.comment {
  margin-top: 2em;
  padding-top: 2em;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  border-top: 1px solid #e4e4e4;
}
.comment.reply {
		margin-left: 1em;
		background: gray;
}

.comment:last-of-type{border-bottom: none;}
.comment_body {

}
.comment_author {
  padding: .5em 0 0;
  font-weight: 700;
  text-align: right;
  color: #A5ACAF;
}

.comments_hide {
	color: #A5ACAF;
	cursor: pointer;
}

@media only screen and (min-width: 900px) {
	.outer_container__header {
		min-height: 30rem;
	}
}

@media only screen and (max-width: 20em) {
  .post {
    min-width: 100%;
  }
}
